.body {
  box-sizing: border-box;
  background-color: #3fb6e9;
  background-image: linear-gradient(250deg, #15c0c9 0%, #466abe 100%);
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: "Merriweather", serif;
}

.logo {
  display: flex;
  margin-left: 2rem;
  align-items: center;
  font-size: 2rem;
  color: rgb(250, 222, 43);
}

.card {
  margin-left: 29%;
  width: 500px;
  height: 100%;
  border-radius: 1rem;
  background: rgba(229, 229, 229, 0.178);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.soon {
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 4rem;
}

.soon span {
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.soon span:nth-child(2) {
  animation-delay: 0.2s;
}

.soon span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

.working {
  width: 400px;
  height: 600px;
  margin-left: 75%;
  margin-top: -30%;
  position: absolute;
  z-index: 1;
}

footer {
  margin-left: -10%;
}

.socials {
  margin-top: 100px;
  font-size: 2rem;
  text-align: center;
  color: white;
}

.icons {
  text-align: center;
}

.icons i {
  color: #00091b;
  background: #fff;
  height: 15px;
  width: 15px;
  padding: 13px;
  margin: 0 10px;
  border-radius: 50px;
  border: 2px solid #fff;
  transition: all 200ms ease;
  text-decoration: none;
  position: relative;
}

.icons i:hover,
.icons i:active {
  color: #fff;
  background: none;
  cursor: pointer !important;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  text-decoration: none;
}

.circles span {
  height: 300px;
  width: 300px;
  margin-top: -12%;
  margin-left: -2%;
  background-color: rgb(250, 222, 43);
  border-radius: 50%;
  display: inline-block;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.circles span:nth-child(2) {
  height: 250px;
  width: 250px;
  margin-top: -12%;
  margin-left: -5%;
  background-color: rgb(202, 208, 26);
  border-radius: 50%;
  display: inline-block;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.circles span:nth-child(3) {
  height: 200px;
  width: 200px;
  margin-top: -12%;
  margin-left: -5%;
  background-color: rgb(206, 222, 29);
  border-radius: 50%;
  display: inline-block;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.circles span:nth-child(4) {
  height: 150px;
  width: 150px;
  margin-top: -20%;
  margin-left: -5%;
  background-color: rgb(208, 231, 58);
  border-radius: 50%;
  display: inline-block;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.Upper_dot {
  height: 650px;
  width: 650px;
  margin-top: -42%;
  margin-left: 55%;
  z-index: -100;
  background-color: rgb(76, 89, 188);
  border-radius: 50%;
  display: block;
}

.img2 {
  display: block;
  height: 350px;
  width: 350px;
  margin-top: -39%;
  margin-left: 2%;
}
